<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40}.%method\(%L\) - %replace(%msg){'("(pin|password)":"[\w=]+"|&lt;pin&gt;\w+&lt;/pin&gt;)',''}%n</pattern>
        </encoder>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/kkl.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/opc.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40}.%method\(%L\) - %replace(%msg){'("(pin|password)":"[\w=]+"|&lt;pin&gt;\w+&lt;/pin&gt;)',''}%n</pattern>
        </encoder>
    </appender>

    <!-- project default level -->
    <logger name="com.suimi.opc" level="debug"/>
    <logger name="org.springframework" level="INFO"/>

    <root level="warn">
        <appender-ref ref="console"/>
        <!--<appender-ref ref="rollingFile"/>-->
    </root>
</configuration>
